CREATE SCHEMA IF NOT EXISTS flight;
USE flight;

-- PRAGMA foreign_keys=OFF;
SET FOREIGN_KEY_CHECKS = 1;
-- BEGIN TRANSACTION;
START TRANSACTION;

CREATE TABLE airports (
faa CHAR(3) NOT NULL PRIMARY KEY,
name VARCHAR(100) NOT NULL,
tzone VARCHAR(50) DEFAULT NULL
);
INSERT INTO airports VALUES('DFW','Dallas Fort Worth Intl','America/Chicago');
INSERT INTO airports VALUES('BQK','Brunswick Golden Isles','America/New_York');
INSERT INTO airports VALUES('EWR','Newark Liberty Intl','America/New_York');
CREATE TABLE airlines (
carrier CHAR(2) NOT NULL PRIMARY KEY,
name VARCHAR(100) NOT NULL
);
INSERT INTO airlines VALUES('9E','Endeavor Air Inc.');
INSERT INTO airlines VALUES('AA','American Airlines Inc.');
INSERT INTO airlines VALUES('AS','Alaska Airlines Inc.');
CREATE TABLE flights (
id INT PRIMARY KEY NOT NULL AUTO_INCREMENT,
origin CHAR(3) NOT NULL,
destination CHAR(3) NOT NULL,
duration INT DEFAULT NULL,
FOREIGN KEY (origin) REFERENCES airports (faa),
FOREIGN KEY (destination) REFERENCES airports (faa)
);
INSERT INTO flights VALUES(1,'DFW','ORD',165);
INSERT INTO flights VALUES(2,'EWR','IAH',227);
INSERT INTO flights VALUES(3,'JFK','MIA',160);
-- DELETE FROM sqlite_sequence;
-- INSERT INTO sqlite_sequence VALUES('flights',7);
COMMIT;
SHOW TABLE STATUS;
