-- comment out the line 
-- sqlite3 flight.db .dump > flight_sqlite3_dump.sql
--
PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE airports (
faa text primary key,
name text not null,
tzone text default null
);
INSERT INTO airports VALUES('DFW','Dallas Fort Worth Intl','America/Chicago');
INSERT INTO airports VALUES('BQK','Brunswick Golden Isles','America/New_York');
INSERT INTO airports VALUES('EWR','Newark Liberty Intl','America/New_York');
CREATE TABLE airlines (
carrier text primary key,
name text not null
);
INSERT INTO airlines VALUES('9E','Endeavor Air Inc.');
INSERT INTO airlines VALUES('AA','American Airlines Inc.');
INSERT INTO airlines VALUES('AS','Alaska Airlines Inc.');
CREATE TABLE flights (
id integer primary key autoincrement,
origin text not null,
destination text not null,
duration integer default null,
foreign key (origin) references airports (faa),
foreign key (destination) references airports (faa)
);
INSERT INTO flights VALUES(1,'DFW','ORD',165);
INSERT INTO flights VALUES(2,'EWR','IAH',227);
INSERT INTO flights VALUES(3,'JFK','MIA',160);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('flights',8);
COMMIT;
